.contenedor{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -6;
}

.tarjeta{
    position: relative;
    height: 380px;
    width: 230px;
    background-color: #5c97e4;
    border-radius: 4%;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -6;
}

.tarjeta::before{
    position: relative;
    content: "";
    position: absolute;
    height: 600px;
    width: 800px;
    background-image: conic-gradient(#c985e9
    20deg, transparent 120deg);
    animation: rotar 3s linear infinite;
    z-index: -6;
}

@keyframes rotar{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(-360deg);
    }
}

.tarjeta::after{
    position: relative;
    content: "";
    position: absolute;
    height: 370px;
    width: 220px;
    background-color: #ffffff;
    border-radius: 2%;
    z-index: -6;
}
